
<div style="width: 100vw; margin-top: 16px;">
  <div class="row text-light bg-dark">
    <div class="col-sm" style="margin-left: 16px">
      <h5>Need help?</h5>

     <p>Returns Policy</p>
     <p>Delivery Info</p>
     <p>Customer Service</p>

    </div>
    <div class="col-sm">
     <h5>Useful Links</h5>
     <p>Find our store</p>
     <p>Morden Slavery Act</p>
     <p>GDPR Statement</p>

    </div>
    <div class="col-sm">
      <h5>Follow us</h5>
    </div>
  </div>
  <div class="row text-light bg-dark">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
