<div class="banner" style="width: 100%;">
      <h1 style=" margin-bottom: 24px; background-color: orange; color: black; width: 60vw;  font-size: 40px; padding: 4px">
      <strong>Good Shoes take you to good places.</strong></h1>
      <p style="background-color: orange; color: black; width: 25vw;  font-size: 24px; padding: 4px">
      <%= link_to shoes_path do %>
      <strong>Start your journey now!</strong></p>
      <% end %>
</div>
