<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for order confirmation and delivery updates.</p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
    <%= link_to "Back to shopping", shoes_path, class: "btn btn-dark px-4 rounded-pill" %>
</div>
